@charset "utf-8";
@font-face{
font-family:'FontAwesome';
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
}

#swimbi ul>li>a:before, #swimbi>ul>li>a:after{
	color: #ffffff;
	font-family: FontAwesome;
	pointer-events: none;
	line-height: 35px;
	font-size: 20px;
    padding: 0 14px 0 0;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
    float:left;
    content:attr(data-icon);
    visibility:hidden;
}

#swimbi>ul>li>a:after{
    visibility:visible;
    position:absolute;
    top:0;
    padding: 0;
    text-shadow: -1px -1px 0 rgba(30,71,104,.99);
    left: 26px;
    transition: all .12s ease-out;
}

#swimbi>ul>li>a.empty:before{
    padding: 0;
}

#swimbi>ul>li:hover>a:after{
	color: #ffffff;
	font-size: 28px;
	left: 22px;
	text-shadow: 1px 2px 2px rgba(30,71,104,.99);
}

#swimbi{
	padding: 20px 0px 0 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 0px;
}
#swimbi a{
	font-family: Arial, Helvetica, sans-serif !important;
}
#swimbi ul{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAjCAYAAABVcWC0AAAAiElEQVQIW03ESwpBARgF4M7EmOuxAguwEkvwCCFJ8ohwuckjISUpRIgwsAEbsovj/DPf4EP88yUi3lu5L9V7Wg8i3L2rzk21r6p1sc5EqHlSjaOqH1Rtb+2IYHWrKhtVXv/nlFaEU1yqwsKaq/yMCOSmKjtRmbE1Uukh4U95KjlQib7lEr5ojD/4aEkjFZotJAAAAABJRU5ErkJggg==);
	min-width: 716px;
	padding: 0 0 0 0;
	margin: 0;
	width: 100%;
	text-align: none;
	list-style: none;
	position: relative;
	display: inline-table;
	border-radius: 0px;
	box-shadow: 3px 4px 13px  1px rgba(63,48,48,.86);
}
#swimbi>ul>li{
	display: inline-block;
	vertical-align: top;
	position: relative;
}
#swimbi ul li:hover>ul, .hvr>ul{
	display: block !important;
	visibility: visible;
	opacity: 1;
	pointer-events:  all; -webkit-transform: translateY(0) scale3d(1,1,1); -ms-transform: translateY(0) scale3d(1,1,1); transform: translateY(0) scale3d(1,1,1); -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
}
#swimbi>ul>li:hover>a, .hvr>a{
	color: #ffffff !important;
	border-radius: 0px;
	z-index: 9;
}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0px 26px;
	line-height: 35px;
	height: 35px;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(30,71,104,.99);
}
#swimbi ul ul{
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	opacity: 0; -webkit-transform: translateY(-50%) scale3d(1,0,1); -ms-transform: translateY(-50%) scale3d(1,0,1); transform: translateY(-50%) scale3d(1,0,1);
	visibility: hidden;
	display: block;
	pointer-events: none;
	background: #f2f2f2;
	border-radius: 0px;
	width: auto;
	min-width: 150px;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 8;
	margin-top: 0;
	box-shadow: 2px 3px 12px  0px rgba(63,48,48,.70);
	top: 35px;
}
#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #999;
}
#swimbi ul ul li a{
	padding: 0px 20px;
	padding-right: 26px;
	line-height: 25px;
	height: 25px;
	color: #5a5a5a !important;
	margin: 0;
	text-shadow: 0px 0px 1px rgba(0,0,0,0);
}
#swimbi ul ul li:hover>a{
	border-radius: 0px;
	color: #ffffff !important;
}
#swimbi ul ul li a:hover{
	border-radius: 0px;
	background: #136d93;
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 8;
	left: 100%;
	top: 0;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
